*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

/* Header Section of the Website */

.HeaderSection {
    display: flex;
    justify-content: space-between;
    padding: 20px 15vw;
    background-color: #081534;
}

.HeaderLogo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero Section of the Website */

.HeroSection {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 80px 15vw;
    background-color: #081534;
}

.HeroLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup {
    width: 100px;
    padding: 5px 20px;
    color: white;
    background-color: #6f2da8;
    border-radius: 8px;
    border-color: #6f2da8;
    font-weight: 700;
}

.HeroSecondary {
    color: #E5E7EB;
    font-size: 18px;
}

.HeroRight {
    flex: 1; 
}

.HeroImage {
    max-width: 600px;
}

/* Information Section of the Website */

.InformationSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px 15vw;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.InfoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.InfoBox {
    width: 175px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.InfoBoxImg {
    width: 175px;
    height: 175px;
}

.InfoBoxText {
    text-align: center;
}

/* Quote Section of the Website */

.QuoteSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 15vw;
    background-color: 	#d2b8e3;
}

.Quote {
    font-size: 48px;
    font-style: italic;
    color: #1f2937;
}

.QuoteAuthor {
    font-size: 18px;
}

/* CTA Section of the Website */

.CTASection {
    flex: 1;
    display: flex;
    padding: 80px 15vw;
}

.CTABox {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #894dbd;
    padding: 30px 5vw;
}

.CTAInfo {
    display: flex;
}

h3 , .CTAtext {
    color: white;
} 

.CTABox > .signup {
    border-color: white;
}

/* Footer Section of the Website */

.FooterSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #081534;
    padding: 30px;
}